<div class="armeria-layout">

  <!-- Holocrón izquierda -->
  <div class="armeria-header">
    <span class="eyebrow-armeria">ARMERÍA GALÁCTICA</span>
    <h1>Sables Forjados</h1>
    <div class="stats-armeria">
      <p>⚔️ <strong>{{ sables.length }}</strong> {{ sables.length === 1 ? 'sable disponible' : 'sables disponibles' }}</p>
      <p>🛒 A la venta en la galaxia</p>
    </div>
  </div>

  <!-- Botón a la derecha -->
  <div class="acciones-sables">
    <button class="btn-crear btn-sw btn-sw--dorado" routerLink="/sables/crear">
      ⚔️ FORJAR NUEVO SABLE
    </button>
  </div>

</div>

<!-- Grid de sables — con más espacio arriba para ver la imagen -->
<div class="sables-grid">
  <div class="sable-card" *ngFor="let sable of sables">
    <div class="card-carousel">
    <div class="carousel-track" [style.transform]="'translateX(-' + (sable.slideActivo * 100) + '%)'">
      
      <!-- Slide 1: Sable completo -->
      <div class="carousel-slide">
        <img [src]="sable.imagen" [alt]="sable.nombre">
        <span class="slide-label">Sable</span>
      </div>

      <!-- Slide 2: Empuñadura -->
      <div class="carousel-slide">
        <img [src]="getEmpunaduraImagen(sable.empunadura)" [alt]="sable.empunadura">
        <span class="slide-label">Empuñadura</span>
      </div>

      <!-- Slide 3: Cristal -->
      <div class="carousel-slide">
        <img [src]="getCristalImagen(sable.cristal)" [alt]="sable.cristal">
        <span class="slide-label">Cristal {{ sable.cristal }}</span>
      </div>

    </div>

    <!-- Controles -->
    <button class="carousel-btn prev" (click)="prevSlide(sable)">‹</button>
    <button class="carousel-btn next" (click)="nextSlide(sable)">›</button>

    <!-- Dots -->
    <div class="carousel-dots">
      <span *ngFor="let i of [0,1,2]" 
            class="dot" 
            [class.active]="sable.slideActivo === i"
            (click)="sable.slideActivo = i">
      </span>
    </div>
  </div>
    <p class="precio-sable"
       [class.precio-jedi]="sable.faccion !== 'Imperio'"
       [class.precio-sith]="sable.faccion === 'Imperio'">
      {{ sable.monedaInfo.simbolo }} {{ sable.precioCalc | number }}
      <small>{{ sable.monedaInfo.nombre }}</small>
    </p>
    <h3>{{ sable.nombre }}</h3>
    <p><strong>Color:</strong> {{ sable.color }}</p>
    <p><strong>Cristal:</strong> {{ sable.cristal }}</p>
    <p><strong>Facción:</strong> {{ sable.faccion }}</p>
    <p><strong>Tipo:</strong> {{ sable.tipo }}</p>
    <button class="btn-sw btn-sw--sm"
            [style.--btn-color]="sable.tema.color"
            [style.--btn-color-rgb]="sable.tema.rgb"
            [style.--btn-hover-2]="sable.tema.hover"
            [routerLink]="['/sables/detalle', sable.id]">
      🔍 VER DETALLE
    </button>
  </div>
</div>