<div class="detalle-container" *ngIf="sable" [style.--sable-color]="tema.color">
  <button class="btn-sw btn-sw--sm"
          [style.--btn-color]="tema.color"
          [style.--btn-color-rgb]="tema.rgb"
          [style.--btn-hover-2]="tema.hover"
          (click)="volver()">
    ← VOLVER A LA ARMERÍA
  </button>

  <div class="detalle-card">
    <div class="detalle-imagen">
  
  <!-- CARRUSEL -->
  <div class="detalle-carousel">
    <div class="carousel-track" [style.transform]="'translateX(-' + (slideActivo * 100) + '%)'">

      <!-- Slide 1: Sable -->
      <div class="carousel-slide">
        <img [src]="sable.imagen" [alt]="sable.nombre">
        <div class="glow"></div>
        <span class="slide-label">Sable</span>
      </div>

      <!-- Slide 2: Empuñadura -->
      <div class="carousel-slide">
        <img [src]="getEmpunaduraImagen(sable.empunadura)" [alt]="sable.empunadura">
        <span class="slide-label">Empuñadura</span>
      </div>

      <!-- Slide 3: Cristal -->
      <div class="carousel-slide">
        <img [src]="getCristalImagen(sable.cristal)" [alt]="sable.cristal">
        <span class="slide-label">Cristal {{ sable.cristal }}</span>
      </div>

    </div>

    <button class="carousel-btn prev" (click)="prevSlide()">‹</button>
    <button class="carousel-btn next" (click)="nextSlide()">›</button>

    <div class="carousel-dots">
      <span *ngFor="let i of [0,1,2]"
            class="dot"
            [class.active]="slideActivo === i"
            (click)="slideActivo = i">
      </span>
    </div>
  </div>

</div>

    <div class="detalle-info">
      <h1>{{ sable.nombre }}</h1>
      <span class="badge-faccion">{{ sable.faccion }}</span>

      <div class="stats-grid">
        <div class="stat">
          <span class="stat-label">Color</span>
          <span class="stat-valor">{{ sable.color }}</span>
        </div>
        <div class="stat">
          <span class="stat-label">Cristal</span>
          <span class="stat-valor">{{ sable.cristal }}</span>
        </div>
        <div class="stat">
          <span class="stat-label">Tipo</span>
          <span class="stat-valor">{{ sable.tipo }}</span>
        </div>
        <div class="stat">
  <span class="stat-label">Precio</span>
  <span class="stat-valor">{{ monedaInfo?.simbolo }} {{ precio | number }}</span>
</div>
<div class="stat">
  <span class="stat-label">Moneda</span>
  <span class="stat-valor">{{ monedaInfo?.nombre }}</span>
</div>
        
      </div>
    </div>
  </div>
</div>