<aside class="sidebar">
  <div class="brand">
  <img class="brand-logo" src="assets/img/inicio/logoSidebar.png" alt="Guardian's Forge">
  <div>
    
    
  </div>
  
</div>

  <div class="personaje-activo" *ngIf="activo$ | async as p"
     [style.--rango-color]="getColorRango(p)">
     <span>Personaje Activo</span>
  <img class="avatar" [src]="p.imagen" [alt]="p.nombre">
  <div class="info">
    <span class="nombre">{{ p.nombre }}</span>
    <span class="rango">{{ p.rango }}</span>
    <span class="creditos">
      {{ getMoneda(p.lado).simbolo }} {{ p.creditos | number }}
      <small>{{ getMoneda(p.lado).nombre }}</small>
    </span>
  </div>
</div>

 <nav class="menu">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <img class="menu-icon" src="assets/img/menu/inicioIcon.png" alt="Sables">
    <span>Inicio</span>
  </a>
  <a routerLink="/sables" routerLinkActive="active">
    <img class="menu-icon" src="assets/img/menu/saberIcon.png" alt="Sables">
    <span>Sables</span>
  </a>
  <a routerLink="/personajes" routerLinkActive="active">
    <img class="menu-icon" src="assets/img/menu/iconoObi.png" alt="Personajes">
    <span>Personajes</span>
  </a>
</nav>
</aside>